/*selector de elementos*/
p {
    color: red;
    background-color: lightblue;
}

li{
    color: red;
}
/* Selector de clase*/
.lith{
    color: rgb(31, 120, 198);
}

/*Selector id*/
#luz{
    color:rgb(41, 9, 221)
}